body {
    padding: 10px;
}

h2 {
  margin-top: 0;
}

.modal-lg {
    width: 95%;
}

.highlight {
    background-color: #ffd600;
}

.browserLogLabel {
    margin-right: 10px;
}

.browserLogItem {
    margin-bottom: 10px;
}

.logContainer {
    max-height: 488px;
}

.smallColumn {
    width: 50px;
}

.mediumColumn {
    width: 30%;
}

.status {
    width: 70px;
    text-align: right;
}

.duration {
    width: 100%;
}

.testCase {
    font-size: 160%;
    padding-left: 40px !important;
    padding-top: 20px !important;
}

.spec {
    /*background-color: grey;*/
    /*color: white;*/
    font-size: 220%;
    padding-top: 20px !important;
}

.btn {
    padding: 1px 10px;
}

table {
    border-collapse: separate;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    /*border-top: 0px;*/
    padding: 4px;
}

.statusNumber {
    font-size: 22px;
    font-weight: 900;
    margin: 4px;
}

.logColumn {
    font-weight: 900;
    width: 100px;
}

.consoleLogLabel {
    font-size: 100%;
    font-weight: 900;
    margin: 3px;
    cursor:pointer;
}

.label-white {
    background-color: #ffffff;
    color: #444444;
    font-size: 100%;
    margin: 3px;
    cursor:pointer;
}

.center {
    text-align: center;
}

.progress-striped {
    height: 30px !important;
}

.screenshotLink {
    max-width: 100%;
}

.screenshotImage {
    width: 100%;
}

.black {
    color: #222222;
}

.red {
    color: #FF0000;
}

.message {
    display: block;
    white-space: pre-wrap;
}

.message:not(:first-child) {
    margin-top: 10px;
}
